/*--------------------------------------------------------------------
                            General
---------------------------------------------------------------------*/

/* Definition Lists */
dl dd {
  margin-bottom: 15px;
}
dl dd:last-child {
  margin-bottom: 0px;
}

/* Table */
th {
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  border-right: 1px solid #ddd;
}
ul {
  list-style: none;
}
a:hover {
  text-decoration: none;
  color: #4f6272;
}
.dropdown-item {
  font-size: 14px;
}

/* scroller */
.scroller {
  overflow-y: auto;
  scrollbar-color: #4f6272 #e3e9ef;
  scrollbar-width: thin;
}
.scroller::-webkit-scrollbar-thumb {
  background-color: #4f6272;
}
.scroller::-webkit-scrollbar-track {
  background-color: #e3e9ef;
}

/* Form */
#sidebar-scrollbar {
  height: 100%;
}

/*---------------------------------------------------------------------
                                Badge
-----------------------------------------------------------------------*/
.badge {
  padding: 0.3em 0.6em;
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
}
.breadcrumb.bg-primary .breadcrumb-item + .breadcrumb-item::before {
  color: #ffffff;
}



/*---------------------------------------------------------------------
                            Progressbar
-----------------------------------------------------------------------*/
.iq-progress-bar {
  background: #eef1f7;
  box-shadow: 0 0 0;
  height: 6px;
  margin: 0;
  position: relative;
  width: 100%;
  border-radius: 4px;
}
.iq-progress-bar > span {
  background: #4f6272 none repeat scroll 0 0;
  display: block;
  height: 100%;
  width: 0;
  border-radius: 4px;
}

/*---------------------------------------------------------------------
                           Dropdown Menu
-----------------------------------------------------------------------*/
.iq-card-header .dropdown-bg {
  background: #e3e9ef;
  padding: 8px 15px;
  color: #4f6272;
  border-radius: 4px;
}
.iq-card-header .dropdown-menu {
  margin: 0;
  padding: 0;
  font-size: 13px;
  top: 20px !important;
  border-radius: 4px;
  border-color: #eef0f4;
  -webkit-box-shadow: 0px 15px 30px 0px rgba(233, 237, 244, 1);
  -moz-box-shadow: 0px 15px 30px 0px rgba(233, 237, 244, 1);
  box-shadow: 0px 15px 30px 0px rgba(233, 237, 244, 1);
}
.iq-card-header .dropdown-menu .dropdown-item {
  padding: 8px 15px;
  color: #777d74;
}
.iq-card-header .dropdown-menu .dropdown-item i {
  font-size: 14px;
  vertical-align: middle;
}
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover {
  background: #e3e9ef;
  color: #4f6272;
}

/*--------------*/
.iq-card-header select.form-control {
  background: #eef0f4;
  border: none;
  font-size: 14px;
  margin-right: 15px;
}
.iq-card-header select.form-control.width-100 {
  width: 180px;
}

/*---------------------------------------------------------------------
                           Badge Img Tag
-----------------------------------------------------------------------*/
.badge-img-tag {
  position: absolute;
  top: 15px;
  left: 15px;
}

/*---------------------------------------------------------------------
                           list Style 1
-----------------------------------------------------------------------*/
.iq-list-style-1 {
  margin: 0;
  padding: 0;
}
.iq-list-style-1 li {
  display: inline-block;
  float: left;
  list-style-type: none;
  margin-right: 15px;
}
.iq-list-style-1 li:last-child {
  margin-right: 0;
}
.iq-list-style-1 li a {
  color: #777d74;
}
.iq-list-style-1 li a i {
  color: #9597af;
  margin-right: 5px;
}
.iq-list-style-1 li a:hover,
.iq-list-style-1 li a:focus {
  text-decoration: none;
  color: #4f6272;
}
.iq-list-style-1.text-white li a,
.iq-list-style-1.text-white li a i {
  color: #ffffff;
}
.list-inline.text-white li a {
  color: #ffffff;
}
.list-inline.text-white li a:hover {
  opacity: 0.6;
  text-decoration: none;
}

/*---------------------------------------------------------------------
                           Icon Box
-----------------------------------------------------------------------*/
.iq-icon-box {
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  margin-right: 10px;
  font-size: 22px;
  text-decoration: none;
}
.iq-icon-box:hover {
  text-decoration: none;
}

/*---------------------------------------------------------------------
                           Tasks Card
-----------------------------------------------------------------------*/
.tasks-card {
  padding: 0 0 15px 0;
  border-bottom: 1px solid #eef0f4;
  margin: 0 0 15px 0;
}
.tasks-card .close {
  font-size: 16px;
}
.tasks-card:last-child {
  border: none;
  margin: 0;
  padding: 0;
}

/*---------------------------------------------------------------------
                             Sign In
-----------------------------------------------------------------------*/
.sign-in-page {
  height: 100vh;
}
.sign-in-detail {
  padding: 100px;
  height: 100vh;
}
.sign-in-logo {
  display: inline-block;
  width: 100%;
}
.sign-in-logo img {
  height: 50px;
}
.sign-in-from {
  padding: 40px;
  width: 40%;
  margin: 90px auto 0;
  position: relative;
  z-index: 9;
  border-radius: 25px;
}
.sign-info {
  border-top: 1px solid #cdd1f3;
  margin-top: 30px;
  padding-top: 20px;
}
.iq-social-media {
  margin: 0;
  padding: 0;
  float: right;
}
.iq-social-media li {
  list-style: none;
  float: left;
  margin-right: 10px;
}
.iq-social-media li:last-child {
  margin-right: 0;
}
.iq-social-media li a {
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  display: inline-block;
  background: #e3e9ef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.iq-social-media li a:hover {
  text-decoration: none;
}
.sign-in-page {
  position: relative;
}
.sign-in-page::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  min-height: 0;
  max-height: 210px;
  border-radius: 0 0 30px 30px;
  width: 100%;
      background: url(../images/bg_header.png),linear-gradient(to right, rgb(33 115 178) 0%, #124064 100%);
    background-size: 100%;
    background-position: 0px 100%;
    background-repeat: no-repeat;
}

/*---------------------------------------------------------------------
                             Dash Hover
-----------------------------------------------------------------------*/
.dash-hover-blank {
  background-color: #eee;
  border: dashed 2px #444;
  height: 90%;
  justify-content: center;
}
.dash-hover-blank:hover {
  cursor: pointer;
  background-color: #ddd;
}

/*---------------------------------------------------------------------
                             Waves Effect
-----------------------------------------------------------------------*/
.iq-waves-effect {
  position: relative;
  overflow: hidden;
}

/*  Ripple */
.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgb(87 168 241 / 10%);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}
.rippleEffect {
  animation: rippleDrop 0.6s linear;
}
@keyframes rippleDrop {
  100% {
      transform: scale(2);
      opacity: 0;
  }
}

/*---------------------------------------------------------------------
                              Sidebar
-----------------------------------------------------------------------*/
.iq-sidebar {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 220px;
  overflow: hidden;
  height: 100%;
  background: #ffffff;
  color: #000000;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(45, 69, 95, 0.1);
  -moz-box-shadow: 0px 0px 25px 0px rgba(45, 69, 95, 0.1);
  box-shadow: 0px 0px 25px 0px rgba(45, 69, 95, 0.1);
}
.iq-sidebar .iq-sidebar-logo {
  float: none;
  width: 100%;
}
.iq-sidebar #sidebar-scrollbar {
  margin-top: 35px;
}

/*---------------------------------------------------------------------
                           Sidebar Menu
-----------------------------------------------------------------------*/
#sidebar-scrollbar {
  height: 100vh;
}
.scroll-content div.p-3 {
  height: 100px;
}
.iq-sidebar-menu .iq-menu .iq-menu-title {
  display: block;
  color: #a7a7a7;
  font-size: 15px;
  position: relative;
  padding: 15px 20px 15px 20px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: .5px;
  font-family: 'Montserrat', sans-serif;
}
.iq-sidebar-menu .iq-menu .iq-menu-title i {
  display: none;
}
.iq-sidebar-menu {
  position: relative;
}
.iq-sidebar-menu .iq-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.iq-sidebar-menu .iq-menu li {
  list-style-type: none;
}
.iq-sidebar-menu .iq-menu li a {
  font-size: 13px;
  white-space: nowrap;
  display: block;
  color: #777d74;
  position: relative;
  padding: 15px 20px 15px 30px;
  line-height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: .5px;
}
.iq-sidebar-menu .iq-menu li.active > a::before {
  opacity: 1;
  height: 100%;
}
.iq-sidebar-menu .iq-menu li a i {
  font-size: 20px;
  margin-right: 10px;
  vertical-align: middle;
  width: 20px;
  display: inline-block;
  float: left;
}
.iq-sidebar-menu .iq-menu li a span {
  white-space: nowrap;
  padding: 0;
  display: inline-block;
  float: left;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.iq-sidebar-menu .iq-menu li a .iq-arrow-right {
  margin-right: 0;
  margin-left: auto;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.iq-sidebar-menu .iq-menu li a .badge {
  position: absolute;
  right: 15px;
  -webkit-transition: all 0.9s ease-out 0s;
  -moz-transition: all 0.9s ease-out 0s;
  -ms-transition: all 0.9s ease-out 0s;
  -o-transition: all 0.9s ease-out 0s;
  transition: all 0.9s ease-out 0s;
}
.iq-sidebar-menu .iq-menu li.active {
  border-bottom: none;
}
.iq-sidebar-menu .iq-menu li a:hover,
.iq-sidebar-menu .iq-menu li.active > a,
.iq-sidebar-menu .iq-menu li.menu-open > a {
  color: #2173b2;
  text-decoration: none;
  background: #eff7fb;
}
.iq-sidebar-menu .iq-menu li .iq-submenu li a:hover,
.iq-sidebar-menu .iq-menu li.active .iq-submenu li > a {
  background: transparent;
}
.iq-sidebar-menu .iq-menu li a[aria-expanded="true"] {
  color: #f16a38;
  background: #eff7fb;
}
.iq-sidebar-menu .iq-menu li a[aria-expanded="true"] .iq-arrow-right,
.iq-sidebar-menu .iq-menu li.menu-open .iq-arrow-right,
.iq-sidebar-menu .iq-menu li.active .iq-arrow-right {
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.iq-sidebar-menu .iq-menu li .iq-submenu li a:hover {
  color: #4f6272;
}
.iq-sidebar-menu .iq-menu li .iq-submenu li > a::before {
  display: none;
}

/*------------------------*/
.iq-sidebar-menu .iq-menu li ul {
  padding-left: 0px;
}
.iq-sidebar-menu .iq-menu li ul li a {
  color: #777d74;
  padding: 12px 20px 12px 45px;
}
.iq-sidebar-menu .iq-menu li ul li li a {
  padding: 12px 20px 12px 80px;
}
.iq-sidebar-menu .iq-menu li ul a:hover {
  text-decoration: none;
  background: transparent;
}

/*---------Sidebar Dark---------------*/
.iq-sidebar.sidebar-dark,
.iq-sidebar.sidebar-dark .iq-sidebar-logo {
  background: #4f6272;
  color: #ffffff;
}
.iq-sidebar.sidebar-dark .iq-sidebar-logo a span {
  color: #777d74;
}
.iq-sidebar.sidebar-dark .iq-sidebar-menu .iq-menu .iq-menu-title {
  color: rgba(255, 255, 255, 0.4);
}
.iq-sidebar.sidebar-dark .iq-menu li > a::before {
  display: none;
}
.iq-sidebar.sidebar-dark .iq-sidebar-menu .iq-menu li > a:hover,
.iq-sidebar.sidebar-dark .iq-sidebar-menu .iq-menu li.active > a,
.iq-sidebar.sidebar-dark .iq-sidebar.sidebar-dark .iq-sidebar-menu .iq-menu li a {
  color: #ffffff;
  background: #0f1317;
}
.iq-sidebar.sidebar-dark .iq-menu li a:hover,
.iq-sidebar.sidebar-dark .iq-menu li.active > a,
.iq-sidebar.sidebar-dark .iq-menu li.menu-open > a {
  color: #ffffff;
  background: #0f1317;
}
.iq-sidebar.sidebar-dark .iq-sidebar-menu .iq-menu li a {
  color: #777d74;
}
.iq-sidebar.sidebar-dark .iq-sidebar-menu .iq-menu li ul li a {
  background: transparent;
  padding-left: 60px;
}
.iq-sidebar.sidebar-dark .iq-sidebar-menu .iq-menu li ul {
  padding-left: 0;
}
.iq-sidebar.sidebar-dark .iq-sidebar-menu .iq-menu li.active .iq-submenu li > a {
  background: transparent;
}
.iq-sidebar.sidebar-dark .ripple {
  background: rgba(255, 255, 255, 0.1);
}
.iq-sidebar.sidebar-dark .iq-menu-bt {
  background: #0f1317;
}
.iq-sidebar.sidebar-dark .line-menu {
  background: #ffffff;
}

/*---------------------------------------------------------------------
                           Top Menu
-----------------------------------------------------------------------*/
.iq-top-navbar .iq-navbar-custom .iq-menu-bt {
  display: none;
}
.iq-top-navbar {
  background: #fff;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0;
  min-height: 73px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  z-index: 99;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(45, 69, 95, 0.1);
  -moz-box-shadow: 0px 0px 25px 0px rgba(45, 69, 95, 0.1);
  box-shadow: 0px 0px 25px 0px rgba(45, 69, 95, 0.1);
}
.iq-top-navbar .iq-navbar-custom .navbar-breadcrumb {
  display: inline-block;
  margin: 15px 0 0 0px;
  float: left;
}
.iq-top-navbar .breadcrumb .breadcrumb-item.active {
  color: #777d74;
}
.iq-top-navbar .breadcrumb {
  background: transparent;
  padding: 0;
  margin: 0;
}
.iq-top-navbar .breadcrumb li {
  list-style-type: none;
  font-size: 12px;
}
.breadcrumb-item + .breadcrumb-item::before {
  content: "\ea5f";
  font-family: "remixicon";
  font-size: 14px;
  vertical-align: sub;
  color: #777d74;
}
.iq-top-navbar .breadcrumb li a,
.iq-top-navbar .breadcrumb li a:hover {
  text-decoration: none;
}
.navbar-list {
  margin: 0;
  padding: 0;
  float: right;
}
.navbar-list li {
  float: left;
  list-style-type: none;
  position: relative;
}
.navbar-list li .dropdown-toggle::after {
  display: none;
}
.navbar-list li > a {
  font-size: 18px;
  padding: 0 15px;
  line-height: 73px;
  color: #4f6272;
  display: block;
  min-height: 75px;
}
.menu-tag {
  position: absolute;
  background: #374948;
  color: #ffffff;
  display: inline-block;
  top: 18px;
  left: 18px;
  font-size: 12px;
  border-radius: 90px;
  line-height: normal;
  height: 18px;
  width: 18px;
  line-height: 18px;
  text-align: center;
  display: inline-block;
}
.navbar-list li a:hover {
  text-decoration: none;
}
.navbar-list li img {
  width: 40px;
  height: 40px;
}
.navbar-list li.iq-nav-user {
  display: flex;
  align-items: flex-start;
}
.navbar-list li.iq-nav-user span {
  flex: 1;
  font-size: 14px;
}
.iq-top-navbar .iq-sidebar-logo .top-logo {
  display: none;
}
.iq-breadcrumb {
  display: none;
}
body.header-top-bg .nav-item span.dots {
  background: #fff !important;
}
.nav-item span.dots {
  height: 5px;
  width: 5px;
  font-size: 0;
  text-align: center;
  padding: 0;
  position: absolute;
  top: 25px;
  right: 10px;
  animation: shadow-pulse-dots 1s infinite;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.nav-item .badge.count-mail {
  height: 15px;
  width: 15px;
  font-size: 10px;
  text-align: center;
  line-height: 17px;
  padding: 0;
  position: absolute;
  top: 20px;
  right: 10px;
  animation: shadow-pulse 1s infinite;
}
@keyframes shadow-pulse-dots {
  0% {
      box-shadow: 0 0 0 0px rgba(241, 87, 115, 0.2);
  }
  100% {
      box-shadow: 0 0 0 15px rgba(241, 87, 115, 0);
  }
}
@keyframes shadow-pulse {
  0% {
      box-shadow: 0 0 0 0px rgba(241, 87, 115, 0.2);
  }
  100% {
      box-shadow: 0 0 0 15px rgba(241, 87, 115, 0);
  }
}

/*---------- Sidebar Logo --------------*/
.iq-sidebar-logo {
  display: inline-block;
  width: 260px;
  padding-top: 15px;
  padding-left: 20px;
  float: left;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.iq-sidebar-logo a {
  display: flex;
  align-items: flex-start;
}
.iq-sidebar-logo a span {
  margin-left: 10px;
  font-size: 20px;
  line-height: 45px;
  color: #4f6272;
  font-family: "Now", sans-serif;
  flex: 1;
  /* -webkit-transition: all 0.3s ease-out 0s; */
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.iq-sidebar-logo a:hover,
.iq-sidebar-logo a:focus {
  text-decoration: none;
}
.iq-sidebar-logo img {
  height: 40px;
}
.iq-menu-bt {
  padding: 12px 10px;
  margin-right: 5px;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.wrapper-menu {
  width: 20px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
}
.wrapper-menu.open {
  transform: rotate(-45deg);
}
.wrapper-menu.open .line-menu.half {
  width: 50%;
}
.line-menu {
  background-color: #4f6272;
  border-radius: 90px;
  width: 100%;
  height: 2px;
}
.line-menu.half {
  width: 100%;
}
.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.37, 0.37);
  transform-origin: right;
}
.open .line-menu.start {
  transform: rotate(-90deg) translateX(3px);
}
.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.37, 0.37);
  transform-origin: left;
}
.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}

/*----------------------*/
.iq-top-navbar .iq-sub-dropdown {
  width: 300px;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  background-color: #ffffff;
  transition: all 0.3s;
  padding: 0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(45, 69, 95, 0.1);
  -moz-box-shadow: 0px 0px 25px 0px rgba(45, 69, 95, 0.1);
  box-shadow: 0px 0px 25px 0px rgba(45, 69, 95, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

/* ----------------------------------------------
* Generated by Animista on 2019-12-22 15:30:2
* Licensed under FreeBSD License.
* See http://animista.net/license for more info.
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation fade-in-bottom
* ----------------------------------------
*/
@-webkit-keyframes fade-in-bottom {
  0% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0;
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0;
  }
  100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
  }
}
.iq-show .iq-sub-dropdown {
  display: inline-block;
}
.navbar-list li .iq-sub-dropdown .iq-sub-card {
  font-size: inherit;
  padding: 15px;
  line-height: normal;
  color: inherit;
  border-bottom: 1px solid #f3f7fd;
  display: inline-block;
  width: 100%;
}
.iq-top-navbar .search-box {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  background-color: #ffffff;
  transition: all 0.3s;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(45, 69, 95, 0.1);
  -moz-box-shadow: 0px 0px 25px 0px rgba(45, 69, 95, 0.1);
  box-shadow: 0px 0px 25px 0px rgba(45, 69, 95, 0.1);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.iq-show .search-box {
  display: inline-block;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.search-box .search-input {
  width: 300px;
  height: 50px;
  padding: 0 1em;
  border: 1px solid #4f6272;
  background-color: #e3e9ef;
  opacity: 1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.iq-sub-dropdown .iq-card-icon {
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 22px;
}

/*---------------------------------------------------------------------
                            Content Page
-----------------------------------------------------------------------*/
.content-page {
  margin-left: 220px;
  overflow: hidden;
  padding: 100px 15px 0;
  min-height: 100vh;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.iq-user-dropdown {
  width: 350px;
}
body.header-top-bg .content-page::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: auto;
  right: 0;
  min-height: 0;
  max-height: 210px;
  border-radius: 0 0 30px 30px;
  width: calc(100% - 260px);
  background: url(../images/bg_header.png),linear-gradient(to right, rgb(229 109 47) 0%, rgb(255 93 13) 100%);
  background-size: 100%;
  background-position: 0px 100%;
  background-repeat: no-repeat;
}

body.header-top-bg .iq-top-navbar {
  background: transparent;
  box-shadow: none;
}
body.header-top-bg .iq-top-navbar.fixed-header {
  background: url(../images/bg_header.png),linear-gradient(to right, rgb(229 109 47) 0%, rgb(255 93 13) 100%);
  background-size: 100%;
  background-position: 0px 100%;
  background-repeat: no-repeat;
}
body.header-top-bg .navbar-list li > a {
  color: #ffffff;
}
body.header-top-bg .iq-navbar-custom .navbar-breadcrumb h5 {
  color: #ffffff;
}
body.header-top-bg.sidebar-main .content-page::before {
  width: calc(100% - 80px);
}
body.header-top-bg .iq-top-navbar .breadcrumb li a,
body.header-top-bg .iq-top-navbar .breadcrumb .breadcrumb-item.active {
  color: #ffffff;
}
body.header-top-bg .breadcrumb-item + .breadcrumb-item::before {
  color: #ffffff;
}
body.sidebar-main .content-page,
body.sidebar-main .iq-footer {
  margin-left: 80px;
}
body.sidebar-main .iq-sidebar-logo {
  width: 80px;
}
body.sidebar-main .iq-sidebar .iq-sidebar-menu .iq-menu li a span,
body.sidebar-main .iq-sidebar-logo a span,
body.sidebar-main .iq-sidebar-menu .iq-menu li a .badge {
  opacity: 0;
  display: none;
}
body.sidebar-main .iq-sidebar-menu .iq-menu .iq-menu-title span {
  display: none;
}
body.sidebar-main .iq-sidebar-menu .iq-menu .iq-menu-title i {
  font-size: 20px;
  display: block;
}
body.sidebar-main .iq-menu-bt {
  opacity: 0;
  display: none;
}
body.sidebar-main .iq-sidebar {
  width: 80px;
}
body.sidebar-main .iq-sidebar-menu .iq-menu li a .iq-arrow-right {
  margin-right: 0;
  display: none;
}
body.sidebar-main .iq-sidebar:hover,
body.sidebar-main .iq-sidebar:hover .iq-sidebar-logo {
  width: 220px;
}
body.sidebar-main .iq-sidebar:hover .iq-sidebar-menu .iq-menu li a .iq-arrow-right {
  margin-right: 0;
  display: inline-block;
}
body.sidebar-main .iq-sidebar:hover .iq-sidebar-menu .iq-menu li a span,
body.sidebar-main .iq-sidebar:hover .iq-sidebar-logo a span,
body.sidebar-main .iq-sidebar:hover .iq-sidebar-menu .iq-menu li a .badge,
body.sidebar-main .iq-sidebar:hover .iq-menu-bt {
  opacity: 1;
  display: inline-block;
}
body.sidebar-main .iq-sidebar.sidebar-hover .iq-sidebar-menu .iq-menu li ul {
  display: none;
}
.iq-welcome-block-data {
  padding: 16px 0;
}
.iq-welcome-block-data .img-element {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.iq-welcome-block-data img.img-element.bottom {
  top: auto;
}
.iq-welcome-block-data .img-element.right-img {
  left: auto;
}
.iq-welcome-block-data .img-element.top-left {
  left: auto;
  bottom: auto;
  top: -50px;
}
.iq-welcome-block-data .img-element.left-img {
  width: 100%;
}
.profile-icon {
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  border-radius: 50%;
}

/*--------------------*/
.iq-card-header-list {
  margin: 0;
  padding: 0;
  float: right;
}
.iq-card-header-list li {
  list-style-type: none;
  float: left;
  display: inline-block;
  font-size: 20px;
  margin: 0 0 0 8px;
}
.iq-card-header-list li a,
.iq-card-header-list li a:hover {
  text-decoration: none;
}

/*-------------- Media Header ---------------*/
.iq-card .iq-card-header.iq-header-media {
  padding: 20px;
}

/*-------------- Content Page ---------------*/
.big-card {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #f2edff;
  padding: 20px;
}
/*---------------------------------------------------------------------
                             Team
-----------------------------------------------------------------------*/
.iq-team {
  background: #ffffff;
  padding: 15px;
  position: relative;
}
.team-authors-bg {
  position: relative;
  margin-bottom: 50px;
}
.team-authors-bg .avatar-80 {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/*------------------------------*/
.iq-team-1 {
  position: relative;
  background: #ffffff;
}
.iq-team-1 .iq-team-1-info {
  position: absolute;
  padding: 30px 15px;
  bottom: 0;
  left: 0;
  width: 100%;
}

/*---------------------------------------------------------------------
                         User Add Block
-----------------------------------------------------------------------*/
.user-add-block {
  background: #ffffff;
}
.user-add-plus {
  position: absolute;
  right: 30px;
  font-size: 24px;
  bottom: -25px;
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  background: #374948;
  color: #ffffff;
  border-radius: 900px;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(57, 60, 82, 0.1);
  -moz-box-shadow: 0px 10px 30px 0px rgba(57, 60, 82, 0.1);
  box-shadow: 0px 10px 30px 0px rgba(57, 60, 82, 0.1);
}
.user-add-plus:hover {
  background: #4f6272;
  color: #ffffff;
  text-decoration: none;
}
.user-add-authors {
  position: relative;
}
.user-add-authors:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 132, 255, 0.8);
}
.user-add-authors .user-add-media {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  display: inline-block;
}
.user-add-list {
  padding: 30px;
}
.add-img-user .p-image {
  position: static;
  text-align: left;
  display: block;
  height: auto;
  width: auto;
  background: transparent;
  margin-top: 20px;
}
.img-extension a,
.img-extension span {
  color: #777d74;
  padding: 0 3px;
  font-size: 13px;
}
.page-link {
  color: #4f6272;
}
.page-item.active .page-link {
  background-color: #4f6272;
  border-color: #4f6272;
}

/*---------------------------------------------------------------------
                           Email list
-----------------------------------------------------------------------*/
.iq-email-list .iq-email-ui {
  margin: 0;
  padding: 0;
}
.iq-email-list .iq-email-ui li {
  list-style-type: none;
  font-size: 16px;
  color: #777d74;
  margin-bottom: 3px;
}
.iq-email-list .iq-email-ui li:last-child {
  margin-bottom: 0;
}
.iq-email-list .iq-email-ui li a {
  color: #777d74;
  padding: 0;
  display: inline-block;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.iq-email-list .iq-email-ui li.active a,
.iq-email-list .iq-email-ui li a:hover {
  text-decoration: none;
  color: #4f6272;
}
.iq-email-list .iq-email-ui li {
  list-style-type: none;
}
.iq-email-list .iq-email-ui li i {
  margin-right: 10px;
}
.iq-email-list .iq-email-ui li .badge {
  float: right;
  font-weight: normal;
  margin-top: 3px;
}
.iq-email-list .iq-email-ui.iq-email-label li {
  margin-bottom: 10px;
}
.iq-email-list .iq-email-ui.iq-email-label li:last-child {
  margin-bottom: 0;
}

/*----------------------------------*/
.iq-email-to-list ul {
  margin: 0;
  padding: 0;
}
.iq-email-to-list ul li {
  list-style-type: none;
  font-size: 20px;
  color: #777d74;
  margin: 0 5px 0 0;
  float: left;
}
.iq-email-to-list ul li:first-child a {
  background: none;
  width: auto;
}
.iq-email-to-list ul li > a {
  background: #e3e9ef;
  color: #4f6272;
  text-align: center;
  line-height: 38px;
  display: inline-block;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.iq-email-to-list ul li a:hover,
.iq-email-to-list ul li.q-list a:hover {
  color: #4f6272;
  text-decoration: none;
}
.iq-email-to-list ul li .custom-control-label::before {
  top: 13px;
  left: -20px;
}
/*---------------------------------------------------------------------
                             OWL Carousel
-----------------------------------------------------------------------*/
.iq-card-icon {
  height: 60px;
  width: 60px;
  display: inline-block;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
}

  
/*---------------------------------------------------------------------
Table
-----------------------------------------------------------------------*/
table tr th img {
  width: 35px;
  height: 35px;
  border-radius: 90px;
}
.progress-animate {
  animation: progress-bar-stripes 1s linear infinite;
}
img.summary-image-top {
  width: 35px;
}
.iq-subject-info img {
  width: 80px;
}


/*---------------------------------------------------------------------
Footer
-----------------------------------------------------------------------*/
.iq-footer {
  padding: 15px;
  margin-left: 220px;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(55, 73, 72, 0.06);
  -moz-box-shadow: 0px 0px 12px 0px rgba(55, 73, 72, 0.06);
  box-shadow: 0px 0px 12px 0px rgba(55, 73, 72, 0.06);
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.iq-footer ul li a {
  color: #777d74;
}
.iq-footer ul li a:hover {
  color: #4f6272;
  text-decoration: none;
}
.bg-banner-image.style-three {
  height: 150px;
  background: url("../images/bg-03.html");
}
.iq-mt--70 {
  margin-top: -70px;
}
.banner-main-text {
  position: absolute;
  left: 15%;
  bottom: 13%;
}
.nav.nav-pills.style-three .nav-link.active:before,
.nav.nav-pills.style-three .nav-link:hover:before {
  display: inline-block;
  width: 100%;
  height: 3px;
  background: #4f6272;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
}
.nav.nav-pills.style-three .nav-link:before {
  width: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  height: 3px;
  background: #19beec;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0px;
}
.iq-card-body.banner-box {
  padding-bottom: 0;
}
.nav.nav-pills.style-three {
  margin-top: 10px;
}
.nav.nav-pills.style-three a:last-child {
  margin-right: 0px;
}
.nav.nav-pills.style-three a {
  background: transparent;
  position: relative;
  margin-right: 30px;
  padding: 10px 0px;
}



/*---------------------------------------------------------------------
Simple From Wizard
-----------------------------------------------------------------------*/
#form-wizard1,
#form-wizard2,
#form-wizard3 {
  position: relative;
}
#form-wizard1 input[type="file"] {
  line-height: 27px;
}
#form-wizard1 fieldset:not(:first-of-type) {
  display: none;
}
.card {
  z-index: 0;
  border: none;
  position: relative;
}
.steps {
  font-size: 20px;
  color: #777d74;
  font-weight: normal;
  text-align: right;
}
#top-tab-list {
  margin: 0 -10px 60px;
  overflow: hidden;
  color: #777d74;
}
#top-tab-list .active {
  color: #4f6272;
}
#top-tab-list li {
  list-style-type: none;
  font-size: 18px;
  width: 25%;
  float: left;
  text-align: left;
  position: relative;
  font-weight: 400;
}
#top-tab-list li i {
  display: inline-block;
  text-align: center;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 50%;
  margin: 0 15px 0 0;
  color: #ffffff;
  background: #4f6272;
}
#top-tab-list li.active a {
  color: #fff;
  background: #4f6272;
}
#top-tab-list li.active.done a {
  background: rgba(241, 87, 115, 1);
  background: -moz-linear-gradient(left, rgba(241, 87, 115, 1) 0%, rgba(248, 134, 159, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241, 87, 115, 1)), color-stop(100%, rgba(248, 134, 159, 1)));
  background: -webkit-linear-gradient(left, rgba(241, 87, 115, 1) 0%, rgba(248, 134, 159, 1) 100%);
  background: -o-linear-gradient(left, rgba(241, 87, 115, 1) 0%, rgba(248, 134, 159, 1) 100%);
  background: -ms-linear-gradient(left, rgba(241, 87, 115, 1) 0%, rgba(248, 134, 159, 1) 100%);
  background: linear-gradient(to right, rgba(241, 87, 115, 1) 0%, rgba(248, 134, 159, 1) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a74ed', endColorstr='#f8869f', GradientType=1);
}
#top-tab-list li.active.done i {
  color: #0a74ed;
}
#top-tab-list li#confirm.active a {
  background: rgba(241, 87, 115, 1);
  background: -moz-linear-gradient(left, rgba(241, 87, 115, 1) 0%, rgba(248, 134, 159, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241, 87, 115, 1)), color-stop(100%, rgba(248, 134, 159, 1)));
  background: -webkit-linear-gradient(left, rgba(241, 87, 115, 1) 0%, rgba(248, 134, 159, 1) 100%);
  background: -o-linear-gradient(left, rgba(241, 87, 115, 1) 0%, rgba(248, 134, 159, 1) 100%);
  background: -ms-linear-gradient(left, rgba(241, 87, 115, 1) 0%, rgba(248, 134, 159, 1) 100%);
  background: linear-gradient(to right, rgba(241, 87, 115, 1) 0%, rgba(248, 134, 159, 1) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a74ed', endColorstr='#f8869f', GradientType=1);
}
#top-tab-list li#confirm.active i {
  color: #0a74ed;
}
#top-tab-list li a {
  background: #e3e9ef;
  color: #4f6272;
  display: block;
  padding: 15px;
  margin: 0 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  text-decoration: none;
}
#top-tab-list li.active i {
  background-color: #fff;
  color: #4f6272;
}
.fit-image {
  width: 100%;
  object-fit: cover;
}

/*---------------------------------------------------------------------
validate form Wizard
-----------------------------------------------------------------------*/
.stepwizard-row {
  display: block;
  margin: 0 -20px;
}
.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}
.setup-content {
  margin-top: 60px;
}
.wizard-step {
  font-size: 18px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
  text-align: center;
}
.stepwizard-row .wizard-step a.btn {
  background: #fff;
  color: #374948;
  font-size: 18px;
  font-weight: 400;
  display: block;
  padding: 50px 15px;
  margin: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  text-decoration: none;
  border: 1px solid #f2edff;
  font-family: "Now", sans-serif;
}
.stepwizard-row .wizard-step i {
  display: block;
  text-align: center;
  height: 65px;
  width: 65px;
  line-height: 65px;
  font-size: 25px;
  border-radius: 50%;
  margin: 0 auto 20px;
  color: #ffffff;
  background: #4f6272;
}
.stepwizard-row #user.active a {
  background: #e3e9ef;
}
.stepwizard-row #document.active a {
  background: #fcecec;
}
.stepwizard-row #bank.active a {
  background: #e5fae5;
}
.stepwizard-row #confirm.active a {
  background: #e3e9ef;
}
.stepwizard-row .wizard-step#user i {
  background: #e3e9ef;
  color: #4f6272;
}
.stepwizard-row .wizard-step#document i {
  background: #fcecec;
  color: #e64141;
}
.stepwizard-row .wizard-step#bank i {
  background: #e5fae5;
  color: #00ca00;
}
.stepwizard-row .wizard-step#confirm i {
  background: #fffbe5;
  color: #ffd400;
}
.stepwizard-row .wizard-step.active i {
  background-color: #fff !important;
}
.stepwizard-row .wizard-step#document.active i {
  background: #fcecec;
  color: #e64141;
}
.stepwizard-row .wizard-step#bank.active i {
  background: #e5fae5;
  color: #00ca00;
}
.stepwizard-row .wizard-step#confirm.active i {
  background: #fffbe5;
  color: #ffd400;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #a94442;
}
.has-error .form-control {
  border: 1px solid #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* ----------------- */
.wizard-step-vertical {
  list-style-type: none;
  font-size: 18px;
  width: 100%;
  float: left;
  position: relative;
  font-weight: 400;
}
.wizard-step-vertical.active {
  color: #4f6272;
}
.wizard-step-vertical a {
  background: #fff;
  color: #000;
  font-size: 18px;
  text-align: left;
  display: block;
  padding: 20px 15px;
  margin: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  text-decoration: none;
  border: 1px solid #f2edff;
}
.setup-panel-data .wizard-step-vertical i {
  display: inline-block;
  text-align: center;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 50%;
  margin: 0 20px 0 0;
}
.setup-panel-data .wizard-step-vertical#personal i {
  background: #e3e9ef;
  color: #4f6272;
}
.setup-panel-data .wizard-step-vertical#contact i {
  background: #fcecec;
  color: #e64141;
}
.setup-panel-data .wizard-step-vertical#official i {
  background: #e5fae5;
  color: #00ca00;
}
.setup-panel-data .wizard-step-vertical#payment i {
  background: #fffbe5;
  color: #ffd400;
}
.setup-panel-data .wizard-step-vertical#confirm i {
  background: #e5fafc;
  color: #6ce6f4;
}
.setup-panel-data .wizard-step-vertical.active i {
  background: #fff !important;
}
.setup-panel-data #contact.active a {
  background: #fcecec;
}
.setup-panel-data #official.active a {
  background: #e5fae5;
}
.setup-panel-data #payment.active a {
  background: #fffbe5;
}
.setup-panel-data #confirm.active a {
  background: #e5fafc;
}
.setup-panel-data .wizard-step-vertical.active i {
  background-color: #fff;
  color: #4f6272;
}
.setup-panel-data .wizard-step-vertical.active a {
  border-color: transparent;
}
.setup-panel-data #personal.active a {
  background: #e3e9ef;
}
.stepwizard-step-vertical button[disabled] {
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}

/*---------------------------------------------------------------------
Vertical form Wizard
-----------------------------------------------------------------------*/
#form-wizard3 fieldset:not(:first-of-type) {
  display: none;
}
#top-tabbar-vertical {
  overflow: hidden;
  color: #777d74;
  margin: 0 -20px 60px;
}
#top-tabbar-vertical .active {
  color: #4f6272;
}
#top-tabbar-vertical li {
  list-style-type: none;
  font-size: 18px;
  width: 100%;
  float: left;
  position: relative;
  font-weight: 400;
}
#top-tabbar-vertical li i {
  display: inline-block;
  text-align: center;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 50%;
  margin: 0 20px 0 0;
}
#top-tabbar-vertical li#personal i {
  background: #e3e9ef;
  color: #4f6272;
}
#top-tabbar-vertical li#contact i {
  background: #fcecec;
  color: #e64141;
}
#top-tabbar-vertical li#official i {
  background: #e5fae5;
  color: #00ca00;
}
#top-tabbar-vertical li#payment i {
  background: #fffbe5;
  color: #ffd400;
}
#top-tabbar-vertical li.active a {
  border-color: transparent;
}
#top-tabbar-vertical li a {
  background: #fff;
  color: #000;
  display: block;
  padding: 20px 15px;
  margin: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  text-decoration: none;
  border: 1px solid #f2edff;
}
#top-tabbar-vertical li.active i {
  background-color: #fff;
  color: #4f6272;
}
#top-tabbar-vertical #personal.active a {
  background: #e3e9ef;
}
#top-tabbar-vertical #contact.active a {
  background: #fcecec;
}
#top-tabbar-vertical #official.active a {
  background: #e5fae5;
}
#top-tabbar-vertical #payment.active a {
  background: #fffbe5;
}
#top-tabbar-vertical li.active i {
  background: #fff !important;
}


/*---------------------------------------------------------------------
Profile 
-----------------------------------------------------------------------*/
.profile-img img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.cover-container {
  position: relative;
}
ul.header-nav {
  position: absolute;
  left: auto;
  right: 0;
  top: auto;
  bottom: 20px;
}
ul.header-nav li {
  list-style: none;
}
ul.header-nav li a {
  display: block;
  list-style: none;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  color: #4f6272;
  font-size: 18px;
  margin: 0 15px 0 0;
}
.profile-img {
  margin-top: -80px;
}
.profile-feed-items li {
  list-style: none;
}
.profile-feed-items li:last-child a {
  margin: 0;
}
.profile-feed-items li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #4f6272;
  background-color: #e3e9ef;
  margin: 0 20px 0 0;
}
.nav-pills.profile-feed-items li a.active {
  color: #fff;
  background: #4f6272;
}
.news-icon {
  font-size: 18px;
  margin-right: 20px;
}
ul.profile-img-gallary {
  list-style: none;
  margin: 0 -1px 0 -4px !important;
}
.twit-feed p span i {
  background: #4f6272;
  color: #fff;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  font-size: 10px;
}
.twit-feed .twit-meta-tag {
  color: #4f6272;
}
.twit-feed .media-support-user-img img {
  height: 50px;
}
ul.media-story img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2px;
}
ul.media-story li.active img {
  border-color: #4f6272;
}
.add-suggestion {
  border: 1px solid #4f6272;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: #4f6272;
}
.suggestions-lists .btn {
  display: block;
}
.feather-icon a,
.message-icon a {
  color: #777d74;
  font-size: 18px;
  font-weight: 300;
}
ul.post-comments {
  list-style: none;
}
.comment-activity > a {
  margin-right: 10px;
  text-transform: capitalize;
  color: #4f6272;
  text-decoration: none;
}
form.comment-text {
  position: relative;
}
.comment-attagement {
  position: absolute;
  left: auto;
  right: 0;
  font-size: 20px;
}
.comment-attagement a {
  color: #777d74;
}
#profile-activity .iq-timeline li {
  margin-bottom: 15px;
}
.about-info a,
div#profile-profile a {
  color: #777d74;
}
.twit-date a {
  color: #777d74;
}

/*---------------------------------------------------------------------
Profile Edit Page
-----------------------------------------------------------------------*/
.profile-pic {
  max-width: 100%;
  display: block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
}
.profile-img-edit {
  position: relative;
  display: inline-block;
  height: 150px;
  width: 150px;
}
.file-upload {
  display: none;
}
.p-image {
  position: absolute;
  top: auto;
  right: 8px;
  bottom: 10px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: #4f6272;
  color: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  line-height: 28px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
.upload-button {
  font-size: 1.5em;
}
.iq-edit-profile .nav-link {
  padding: 20px 15px;
  border-radius: 0;
  color: #777d74;
  text-align: center;
  font-size: 16px;
  border-left: 1px solid #f2edff;
}
.iq-edit-profile.nav-pills .nav-link.active,
.iq-edit-profile.nav-pills .show > .nav-link {
  color: #fff;
  background: rgba(241, 87, 115, 1);
  background: -moz-linear-gradient(left, rgba(241, 87, 115, 1) 0%, rgba(248, 134, 159, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(241, 87, 115, 1)), color-stop(100%, rgba(248, 134, 159, 1)));
  background: -webkit-linear-gradient(left, rgba(241, 87, 115, 1) 0%, rgba(248, 134, 159, 1) 100%);
  background: -o-linear-gradient(left, rgba(241, 87, 115, 1) 0%, rgba(248, 134, 159, 1) 100%);
  background: -ms-linear-gradient(left, rgba(241, 87, 115, 1) 0%, rgba(248, 134, 159, 1) 100%);
  background: linear-gradient(to right, rgba(241, 87, 115, 1) 0%, rgba(248, 134, 159, 1) 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a74ed', endColorstr='#f8869f', GradientType=1);
}
ul.iq-edit-profile li:first-child a {
  border-radius: 5px 0 0 5px;
  border-left: none;
}
ul.iq-edit-profile li:last-child a {
  border-radius: 0 5px 5px 0;
}

/*---------------------------------------------------------------------
Todo Page
-----------------------------------------------------------------------*/
.iq-todo-page .search-link,
.iq-todo-right .search-link {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 18px;
  line-height: 43px;
  color: #777d74;
}
.iq-todo-page .todo-search,
.iq-todo-right .todo-search {
  padding-left: 35px;
}
.add-new-project > a {
  padding: 0 15px;
  color: #777d74;
  text-transform: capitalize;
  text-decoration: none;
}
.notification-icon > span {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  line-height: 14px;
  font-size: 8px;
  text-align: center;
  position: absolute;
  top: -5px;
  left: auto;
  right: -8px;
}
.todo-date {
  font-size: 16px;
}
.iq-todo-page ul {
  list-style: none;
}
.iq-todo-page ul li a {
  color: #777d74;
  text-decoration: none;
}
.iq-todo-page ul ul li a {
  padding-left: 25px;
}
.iq-todo-page ul > li > a {
  padding: 10px 15px;
  display: block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.iq-todo-page ul > li[aria-expanded="true"] > a {
  color: #4f6272;
  background: #e3e9ef;
}
.iq-todo-page ul > li li:hover a,
.iq-todo-page ul > li li.active a {
  background: #e3e9ef;
}
ul.todo-task-lists li:hover {
  background: #e3e9ef;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
ul.todo-task-lists li.active-task {
  background: #e3e9ef;
}
.media-support-info p {
  line-height: normal;
}
.todo-task-list .sub-task {
  display: none;
}
.todo-task-list .sub-task.show {
  display: block;
}


/*---------------------------------------------------------------------
User List Page
-----------------------------------------------------------------------*/
.list-user-action a {
  font-size: 16px;
  height: 25px;
  width: 25px;
  text-align: center;
  line-height: 25px;
  margin: 0 3px;
  background: #e3e9ef;
  color: #4f6272;
  display: inline-block;
  border-radius: 5px;
}
#user-list-table.table td {
  vertical-align: middle;
}
.user-list-files a {
  background: #e3e9ef;
  color: #4f6272;
  padding: 10px 15px;
  margin: 0 0 0 10px;
  border-radius: 5px;
  line-height: normal;
}
.table-responsive #exampleInputSearch {
  width: auto;
}
.fieldlabels {
  color: #455a64 !important;
  text-align: left;
}
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  color: #455a64;
  padding-left: 0px;
  margin-top: 30px;
}
#progressbar li {
  list-style-type: none;
  font-size: 13px;
  width: 33.33%;
  float: left;
  position: relative;
  font-weight: 400;
}
#progressbar #step1:before {
  content: "1";
  color: #fff;
}
#progressbar #step2:before {
  content: "2";
  color: #fff;
}
#progressbar #step3:before {
  content: "3";
  color: #fff;
}
#progressbar li:before {
  width: 40px;
  height: 40px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  background: #455a64;
  border-radius: 50%;
  margin: auto;
  padding: 0px;
}
#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #455a64;
  position: absolute;
  left: 0;
  top: 21px;
  z-index: -1;
}
#progressbar li:last-child:after {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  left: -50%;
}
#progressbar li:nth-child(2):after {
  left: -50%;
}
#progressbar li:first-child:after {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  left: 50%;
}
#progressbar li:last-child:after {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
#progressbar li:first-child:after {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
#progressbar li.active:before,
#progressbar li.active:after {
  background: #0a74ed;
}
#progressbar li.done:before,
#progressbar li.done:after {
  background: #0a74ed;
}
.card-block {
  display: none;
}
.card-block.show {
  display: block;
}


/* progress */
.progress{
  position: relative;
  margin: 4px;
  float:left;
  text-align: center;
}
.barOverflow{ 
  position: relative;
  overflow: hidden; 
  width: 170px;
  height: 75px; 
  margin: auto;
}
.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 12px solid #eee;
  border-bottom-color: #FF7F00;
  border-right-color: #FF7F00;
}

.num_in_area {
  left: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: auto;
}

.progress-new {
  position: relative;
}

.num_in_area span {
  font-size: 14px;
  color: #898787;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
.title_top {
  margin: 6px 0;
}
.title_top h5 {
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: #585858;
}
.iq-card-right h4 span {
  font-size: 14px;
}
.iq-card-right h4 {
  font-size: 13px;
  margin-bottom: 8px;
}
/*  */

.iq-card-left{
  -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.iq-card-right{
  -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.iq-bg-light-blue{
  background: #deebff !important;
  color: #0557F6;
}
.iq-bg-light-orange {
  background: #ffe1c4 !important;
  color: #FF7F00;
}
.iq-bg-light-red{
  background: #ffc9b6 !important;
  color: #f87334;
}
.iq-bg-light-green{
  background: #d1ffd1 !important;
  color: #58d657;
}

.create_link a {
  background: #e56d2f;
  font-size: 12px;
  letter-spacing: 0.2px;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 500;
  display: block;
  color: #ffffff;
}
.myPopup {
  border-radius: 20px;
  box-shadow: 0 0 10px #000;
  /* border: 1px solid #ddd; */
  position: relative;
  padding: 0;
}
.myPopup .heading {
  padding: 15px;
  text-align: center;
  background: url(../images/bg_header.png),linear-gradient(to right, rgb(235 110 46) 0%, #e56d2f 100%);
  background-size: 140%;
  background-position: 100%;
}
.myPopup .heading h3 {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 22px;
}
.myPopup .fancybox-close-small {
  display: none;
}
.myPopup .content {
  padding: 35px;
}
.list_ae ul li {
  margin: 0px 2px;
  display: inline-block;
}

.list_ae {
  text-align: center;
}

.list_ae ul li span {
  font-size: 12px;
  color: #333;
}

.list_ae ul li small {
  width: 8px;
  height: 8px;
  background: #ffce56;
  display: inline-block;
  margin-right: 4px;
  border-radius: 50%;
}
.iq-sidebar-menu .iq-menu li .iq-submenu i {
  font-size: 14px;
  margin-right: 2px;
}
.table th:last-child, .table td:last-child {
  border-right: 0;
}
.table td, .table th {
  padding: 0.35rem;
  border-right: 1px solid #dee2e6;
}
.table thead th, .table tbody td {
  border-bottom: 1px solid #dee2e6;
  font-size: 13px;
  line-height: 15px;
}
.admin_sec {
  margin: 15px 0 0;
}
.admin_sec h5 {
  font-size: 20px;
  color: #60d762;
}
.w-5{width: 5%;}.w-10{width: 10%;}.w-15{width: 15%;}.w-20{width: 20%;}.w-25{width: 25%;}.w-30{width: 30%;}.w-35{width: 35%;}.w-40{width: 40%;}.w-45{width: 45%;}.w-50{width: 50%;}.w-55{width: 55%;}.w-60{width: 60%;}.w-65{width: 65%;}.w-70{width: 70%;}.w-75{width: 75%;}.w-80{width: 80%;}.w-85{width: 85%;}.w-90{width: 90%;}.w-100{width: 100%;}
/* width */
.iq-waves-effect.moon .icon-power1 {
  color: #e64141;
}
.errorlist.nonfield li {
  font-size: 12px;
  line-height: 18px;
  background: #ffdfdf;
  padding: 5px 20px;
  margin-bottom: 10px;
  border-radius: 4px;
  color: #910202;
}