
{% extends 'base/base_main.html' %}

{% load static %}

{% block title %}
    <title> Worksheet | Work Status </title>
{% endblock title %}

{% block breadcrumb %}
<h5 class="mb-0">Work Status</h5>
  <nav aria-label="breadcrumb">
     <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Work Status</li>
     </ul>
  </nav>
{% endblock breadcrumb %}


{% block content %}
<div id="content-page" class="content-page">
   <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="iq-card">
                    <div class="iq-card-header d-flex justify-content-between">
                        <div class="iq-header-title">
                            <h4 class="card-title">Work Status</h4>
                        </div>
                    </div>
                    <div class="iq-card-body">
                        <div class="new-user-info">
                            <table class="table table-responsive-md">
                                <thead>
                                   <tr>
                                      <th>Date</th>
                                      <th>Project Name</th>
                                      <th>Project Status</th>
                                      <th>Team Name</th>
                                      {% comment %} <th>User</th> {% endcomment %}
                                      <th>Comment</th>
                                      <th>Updated By</th>
                                   </tr>
                                </thead>
                                <tbody>
                                    {% for report in workreport %}
                                        <tr>
                                            <td>{{report.date|date:"m-d-y"}}</td>
                                            <td>{{report.project_name}}</td>
                                            <td>{{report.team}}</td>
                                            <td>{{report.project_name.project_status}}</td>
                                            {% comment %} <td>{{report.user.username}}</td> {% endcomment %}
                                            <td>{{report.comment}}</td>
                                            <td>{{report.user.first_name}} {{report.user.last_name}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                             </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}




{% block style %}
{% endblock style %}

{% block script %}
{% endblock script %}